header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 3rem 2rem;
}

header > nav {
  width: 50%;
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
}

header > nav > ul > li:hover > a {
  color: var(--quaternary-color);
}

header > nav > ul > li:hover,
.rtc--cv-header-logo-img:hover {
  cursor: pointer;
  outline: 0.2rem solid var(--tertiary-color);
}

.rtc--cv-header-logo-img {
  height: 2.5rem;
  width: 2.5rem;
}

.rtc--cv-header-skills,
.rtc--cv-header-projects,
.rtc--cv-header-contact {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0.5rem;
}

.rtc--cv-header-skills > a {
  width: 3.6rem;
}

.rtc--cv-header-projects > a {
  width: 4.75rem;
}

.rtc--cv-header-contact > a {
  width: 4.1rem;
}
