header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding: 2rem 2rem 3rem 2rem;
}

header > nav {
  width: 50%;
}

header > nav > ul {
  display: flex;
  gap: 0.25rem;
  justify-content: space-around;
}

.rtc--cv-header-logo-img {
  height: 2.5rem;
  width: 2.5rem;
}

.rtc--cv-header-nav-skills,
.rtc--cv-header-nav-projects,
.rtc--cv-header-nav-contact {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  height: 2.5rem;
}

.rtc--cv-header-nav-skills > a {
  width: 3.6rem;
}

.rtc--cv-header-nav-projects > a {
  width: 4.75rem;
}

.rtc--cv-header-nav-contact > a {
  width: 4.1rem;
}

@media screen and (max-width: 300px) {
  header {
    padding: 2rem 1rem 3rem 1rem;
  }

  header > nav {
    width: 75%;
  }

  header > nav > ul {
    gap: 0;
  }
}

@media screen and (min-width: 898px) {
  header > nav > ul > li:hover > a {
    color: var(--quaternary-color);
  }

  header > nav > ul > li:hover,
  .rtc--cv-header-logo-img:hover {
    cursor: pointer;
    outline: 0.2rem solid var(--tertiary-color);
  }
}
