header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding: 2rem 1rem 3rem 1rem;
}

header > nav {
  width: 75%;
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
}

header > nav > ul > li:hover > a {
  color: var(--quaternary-color);
}

@media screen and (min-width: 360px) {
  header {
    padding: 2rem 2rem 3rem 2rem;
  }

  header > nav {
    width: 70%;
  }
}

@media screen and (min-width: 540px) {
  header > nav {
    width: 60%;
  }
}

@media screen and (min-width: 720px) {
  header {
    padding: 2rem 2rem 4rem 2rem;
  }
  header > nav > ul {
    justify-content: space-evenly;
  }
}
