@import '../../../css/style.css';

.rtc--cv-header-logo-img {
  height: var(--height-header-logo-img);
  width: var(--width-header-logo-img);
}

.rtc--cv-header-logo-img:hover {
  cursor: pointer;
  padding: var(--padding-header-logo-img-hover);
  outline: var(--outline-header-logo-img-hover);
}
