@import '../../../css/style.css';

.rtc--cv-main-about_container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main-about);
  margin: var(--margin-main-about);
}

.rtc--cv-main-about-img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-main-about-img);
}

.rtc--cv-main-about-img {
  border-radius: var(--border-radius-main-about-img);
  height: var(--height-main-about-img-s);
  width: var(--width-main-about-img-s);
}

.rtc--cv-main-about-personal_info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main-about-info);
  align-items: flex-start;
  padding: var(--padding-main-about-info-xxs);
}

.rtc--cv-main-about-networks_info {
  display: flex;
  gap: var(--gap-main-about-networks-info);
  justify-content: space-evenly;
}

.rtc--cv-main-about-networks_info > a > img {
  height: var(--height-main-about-networks-img);
  width: var(--width-main-about-networks-img);
}

.rtc--cv-main-about-description_info {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 300px) {
  .rtc--cv-main-about-img {
    width: var(--width-main-about-img-m);
  }

  .rtc--cv-main-about-personal_info {
    padding: var(--padding-main-about-info-xs);
  }
}

@media screen and (min-width: 360px) {
  .rtc--cv-main-about-personal_info {
    padding: var(--padding-main-about-info-s);
  }
}

@media screen and (min-width: 400px) {
  .rtc--cv-main-about-personal_info {
    padding: var(--padding-main-about-info-xxm);
  }
}

@media screen and (min-width: 450px) {
  .rtc--cv-main-about-personal_info {
    padding: var(--padding-main-about-info-xm);
  }
}

@media screen and (min-width: 500px) {
  .rtc--cv-main-about-img {
    height: var(--height-main-about-img-m);
    width: var(--width-main-about-img-l);
  }

  .rtc--cv-main-about-personal_info {
    padding: var(--padding-main-about-info-m);
  }
}

@media screen and (min-width: 720px) {
  .rtc--cv-main-about_container {
    flex-direction: row;
    padding: var(--padding-main-about-l);
  }

  .rtc--cv-main-about-img {
    height: var(--height-main-about-img-l);
  }

  .rtc--cv-main-about-personal_info {
    align-items: flex-start;
    padding: var(--padding-main-about-info-l);
  }

  .rtc--cv-main-about-networks_info > a > img:hover {
    padding: var(--padding-main-about-networks-img-hover);
    outline: var(--outline-main-about-networks-img-hover);
  }
}

@media screen and (min-width: 960px) {
  .rtc--cv-main-about_container {
    padding: var(--padding-main-about-xl);
  }
}
