@import '../../../css/style.css';

.rtc--cv-main-projects > h2 {
  text-align: center;
}

.rtc--cv-main-projects_list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-main-projects);
  padding: var(--padding-main-projects-s);
}

.rtc--cv-main-projects-item {
  background-color: var(--secondary-light-color);
  border-radius: var(--border-radius-main-projects-item);
}

.rtc--cv-main-projects-item_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-main-projects-item-a);
  cursor: pointer;
}

.rtc--cv-main-projects-item_link > .rtc--cv-main-projects-item_title {
  cursor: pointer;
  text-align: center;
  width: var(--width-main-projects-item-title);
}

.rtc--cv-main-projects-item_link:hover,
.rtc--cv-main-projects-item_title:hover {
  color: var(--quaternary-color);
}

.rtc--cv-main-projects-item_preview {
  border-radius: var(--border-radius-main-projects-item-preview);
  height: var(--height-main-projects-item-preview);
  width: var(--width-main-projects-item-preview);
}

@media screen and (min-width: 460px) {
  .rtc--cv-main-projects_list {
    padding: var(--padding-main-projects-m);
  }
}

@media screen and (min-width: 720px) {
  .rtc--cv-main-projects_list {
    padding: var(--padding-main-projects-l);
  }

  .rtc--cv-main-projects-item_link {
    flex-direction: row;
    justify-content: space-around;
  }
}
