@import '../../../css/style.css';

.rtc--cv-header-nav-skills,
.rtc--cv-header-nav-projects {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-header-nav-a);
  height: var(--height-header-nav-a);
}

.rtc--cv-header-nav-skills > a {
  width: var(--width-main-skills-a);
}

.rtc--cv-header-nav-projects > a {
  width: var(--width-main-projects-a);
}
