@import '../../../css/style.css';

input {
  justify-content: center;
  background-color: var(--secondary-color);
  border-color: var(--primary-grey-color);
  border-radius: var(--border-radius-main-skills-input);
  color: var(--primary-color);
  font-family: var(--font-family);
  padding: var(--padding-main-skills-input);
  width: var(--width-main-skills-input-s);
}

input:hover {
  border-color: var(--tertiary-color);
}

.rtc--cv-main-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rtc--cv-main-skills > form {
  display: flex;
  align-items: center;
  gap: var(--gap-main-skills-form);
  padding: var(--padding-main-skills-form);
}

.rtc--cv-main-skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-main-skills);
  justify-content: center;
}

.rtc--cv-main-skills-item {
  background-color: var(--secondary-light-color);
  border-radius: var(--border-radius-main-skills-item);
  padding: var(--padding-main-skills-item);
  width: var(--width-main-skills-item);
}

.rtc--cv-main-skills-item > form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-main-skills-item-form);
}

.rtc--cv-main-skills-item_title {
  color: var(--quaternary-color);
}

@media screen and (min-width: 660px) {
  input {
    width: var(--width-main-skills-input-l);
  }
}
