@import '../../css/style.css';

footer {
  display: flex;
  justify-content: center;
  padding: var(--padding-footer-s);
}

@media screen and (min-width: 360px) {
  footer {
    padding: var(--padding-footer-m);
  }
}
